<header id="banner">
    <h2><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h2>
    <nav>
        <ul>
            {{ range where (where .Site.Home.Pages "Title" "!=" "Posts") "Title" "!=" "Imprint" }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
            
            {{ with .Site.Params.email }}
            <li><a href="{{ . }}"><i class="fa-solid fa-envelope"></i></a></li>
            {{ end }}

            {{ with .Site.Params.matrix }}
            <li><a href="{{ . }}"><i class="fa fa-matrix-org"></i></a></li>
            {{ end }}

            {{ with .Site.Params.github }}
            <li><a href="{{ . }}"><i class="fa-brands fa-github"></i></a></li>
            {{ end }}
        
            {{ with .Site.Params.linkedin }}
            <li><a href="{{ . }}"><i class="fa-brands fa-linkedin"></i></a></li>
            {{ end }}
        
            {{ with .Site.Params.xing }}
            <li><a href="{{ . }}"><i class="fa-brands fa-xing"></i></a></li>
            {{ end }}

            {{ with .Site.Params.flickr }}
            <li><a href="{{ . }}"><i class="fa-brands fa-flickr"></i></a></li>
            {{ end }}

            {{ with .Site.Params.mastodon }}
            <li><a rel="me" href="{{ . }}"><i class="fa-brands fa-mastodon"></i></a></li>
            {{ end }}
        
        
        </ul>
    </nav>

</header>
